
<div class="container p-5">
    <h1 class="text-center">Search User</h1>
    <div class="d-flex justify-content-between">
        <div class="col-md-8">
            <input type="text" class="form-control" #searchText name="" id="">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>

   

      <div *ngIf="nodata">
          <p>No Data Found!!</p>
      </div>

      <button class="btn btn-danger">logout</button>
</div>