<div class="container p-3">
    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="col-md-6 mt-5">
            <p class="fs-1">Hi, {{username}} </p>
            <p class="text-muted">
                 Search the user here..!!!
            </p>
        </div>
        <div class="col-md-6 mt-5">
            <p class="fs-1">Search User!</p>
            <button class="btn btn-success rounded-pill p-3" routerLink="/search">Open</button>
        </div>
    </div>
</div>